Main:
  # Name of the website
  SiteName: "Webwork"
  # Module to use as frontpage
  Frontpage: start

Web:
  # URL of Webwork root
  Url: "http://localhost/Webwork"
  # Use URL rewriting for page paths
  UrlRewrite: true

View:
  # Theme from /themes folder
  Theme: default

I18n:
  # Default language 
  Language: "en-US"

Database:
  # Database driver to use
  Driver: "MySQL"
  # Database server host
  Host: "localhost"
  # Username of database server user
  User: "root"
  # Password of database server user
  Password: ""
  # Name of database
  Database: "webwork"
  # Database table prefix
  Prefix: "ww_"

Session:
  # Default session lifetime
  Lifetime: 3600
  # The threshold in seconds at which a user is considered as logged off
  OnlineThreshold: 600

Guest:
  # Username for anonymous users
  Username: "Anonymous"
  # Assign anonymous users to this usergroup
  Group: 1

Cookie:
  # Name prefix for cookies
  NamePrefix: "ww_"
  # Domain that cookies are available to
  Domain: ""
  # Path on the server in which cookies will be available on
  Path: "/"
