site:
  # Name of the website
  title: "Infernum"
  # Module to use as frontpage
  frontpage: start
  # Default language
  language: "en-US"
  # Default timezone
  timezone: "Europe/Berlin"

web:
  # URL of Infernum root
  url: "http://localhost/Infernum"
  # Use URL rewriting for page paths
  url_rewrite: true
  # Theme from /themes folder
  theme: default

database:
  # Database driver to use
  driver: "MySQL"
  # Database server host
  host: "localhost"
  # Username of database server user
  user: "root"
  # Password of database server user
  password: ""
  # Name of database
  database: "infernum"
  # Database table prefix
  prefix: "infernum_"

session:
  # Default session lifetime
  lifetime: 3600
  # The threshold in seconds at which a user is considered as logged off
  online_threshold: 600

guest:
  # Username for anonymous users
  username: "Anonymous"
  # Assign anonymous users to this usergroup
  group: 1

cookie:
  # Name prefix for cookies
  name_prefix: "infernum_"
  # Domain that cookies are available to
  domain: ""
  # Path on the server in which cookies will be available on
  path: "/"
