<form name="{{ form.name }}" action="{{ form.action }}" method="{{ form.method }}" enctype="multipart/form-data" id="{{ form.name }}" class="fancy">
{% for field in form %}
    {% include field.templateName %}
{% endfor %}
    <div class="buttons">
        <button type="submit" class="button">Submit</button>
        <button type="reset" class="button">Reset</button>
    </div>
</form>
